@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.frame-child {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: cover;
}
.studio-hillenburg {
  position: relative;
  line-height: 15px;
}
.group-parent {
  text-decoration: none;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
  color: inherit;
}
.hamburger-menu-v5-child,
.hamburger-menu-v5-item {
  width: 31.8px;
  position: relative;
  border-radius: var(--br-31xl);
  height: 4.2px;
}
.hamburger-menu-v5-item {
  height: 3.6px;
}
.hamburger-menu-v5 {
  height: 24px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.hamburger-menu-v5:active {
  cursor: auto;
  animation: 1s ease-out 0s 1 normal none pulsate;
  opacity: 1;
}
.about {
  text-decoration: none;
  position: relative;
  line-height: 15px;
  color: inherit;
  cursor: pointer;
}
.desktop-menu,
.navigation,
.top-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.desktop-menu {
  justify-content: flex-end;
  gap: 0 20px;
}
.navigation,
.top-menu {
  margin: 0;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.navigation {
  height: 40px;
  width: 317px;
  justify-content: flex-end;
  gap: 0 20px;
  font-family: var(--font-open-sans);
}
.top-menu {
  align-self: stretch;
  background-color: var(--color-gray-100);
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-13xl);
  font-family: var(--font-roboto-slab);
}
.frame-20-1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.body-image,
.body-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.body-image {
  width: 100%;
  height: 450px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 var(--padding-45xl);
  max-width: 1004px;
  max-height: 450px;
}
.body-image-wrapper {
  align-self: stretch;
  height: 438px;
  flex-direction: column;
  padding: 0 0 36px;
}
.body-child {
  border: 0;
  border-radius: var(--br-31xl);
  background-color: rgba(16, 24, 40, 0.25);
  height: 4px;
}
.body,
.body-child,
.heading {
  align-self: stretch;
}
.body {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-45xl) var(--padding-29xl);
}
.heading {
  position: relative;
  line-height: 44px;
  font-weight: 500;
}
.often-typefaces-are {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.often-typefaces-are2 {
  margin: 0;
}
.paragraph {
  align-self: stretch;
  position: relative;
  font-size: var(--text-lg-regular-size);
  line-height: 28px;
  font-family: var(--text-lg-regular);
  color: var(--gray-500);
  text-align: left;
}
.heading-and-paragraph1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 0;
}
.body-padding2,
.columns,
.heading-and-paragraph1 {
  display: flex;
  justify-content: flex-start;
}
.body-padding2 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  max-width: 478px;
}
.columns {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 0 48px;
}
.body-padding1,
.heading-and-paragraph {
  flex-direction: column;
  justify-content: flex-start;
}
.body-padding1 {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1004px;
}
.heading-and-paragraph {
  align-self: stretch;
}
.body-padding,
.body-text1,
.heading-and-paragraph {
  display: flex;
  align-items: flex-start;
}
.body-padding {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1004px;
}
.body-text1 {
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-45xl) var(--padding-45xl);
}
.body-end-spacer,
.body-text,
.body-text1 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
}
.body-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-45xl) var(--padding-45xl);
  gap: 32px 0;
}
.body-end-spacer {
  height: 96px;
  flex-shrink: 0;
}
.studio-hillenburg1 {
  position: relative;
  line-height: 15px;
  font-weight: 600;
}
.studiohillenburgcom {
  height: 15px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 15px;
  font-family: var(--font-roboto);
  color: var(--color-lightgray);
  display: inline-block;
}
.studio-hillenburg-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px 0;
}
.bottom-menu-inner {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon-discord {
  width: 21.7px;
  position: relative;
  height: 24px;
}
.icon-facebook,
.icon-instagram,
.icon-twitter {
  width: 24px;
  position: relative;
  height: 24px;
}
.icon-facebook,
.icon-twitter {
  width: 24.1px;
}
.icon-twitter {
  width: 29.5px;
}
.navigation1 {
  margin: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0 32px;
}
.bottom-menu,
.home {
  display: flex;
  align-items: center;
  font-family: var(--font-roboto-slab);
}
.bottom-menu {
  margin: 0;
  align-self: stretch;
  background-color: var(--color-gray-100);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-13xl);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--gray-900);
}
@media screen and (max-width: 1200px) {
  .navigation {
    display: flex;
  }
  .bottom-menu,
  .top-menu {
    padding-left: var(--padding-45xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .hamburger-menu-v5,
  .studio-hillenburg {
    display: flex;
  }
  .desktop-menu,
  .navigation {
    display: none;
  }
  .body,
  .body-end-spacer,
  .body-image,
  .body-text,
  .body-text1,
  .top-menu {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .body,
  .body-end-spacer,
  .body-image,
  .body-text,
  .body-text1 {
    padding-top: var(--padding-13xl);
  }
  .studio-hillenburg1,
  .studiohillenburgcom {
    display: flex;
  }
  .bottom-menu {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .desktop-menu,
  .studio-hillenburg {
    display: none;
  }
  .hamburger-menu-v5:active {
    animation: 1s ease-in 0s 1 normal none pulsate;
    opacity: 1;
  }
  @keyframes pulsate {
    0% {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  .body,
  .body-end-spacer,
  .body-image,
  .body-text,
  .body-text1,
  .top-menu {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .body,
  .body-end-spacer,
  .body-image,
  .body-text,
  .body-text1 {
    padding-top: var(--padding-13xl);
  }
  .studio-hillenburg1,
  .studiohillenburgcom {
    display: flex;
  }
  .bottom-menu-inner {
    display: none;
  }
  .navigation1 {
    display: flex;
  }
  .bottom-menu {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .body,
  .body-end-spacer,
  .body-image,
  .body-text,
  .body-text1 {
    padding-left: var(--padding-base);
    padding-top: var(--padding-13xl);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
.close-icon-child {
  width: 24px;
  position: relative;
  height: 24px;
  cursor: pointer;
}
.close-icon-child:active {
  animation: 1s ease 0s 1 normal none pulsate;
  opacity: 1;
}
.close-icon {
  width: 31.8px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.about6 {
  text-decoration: none;
  position: relative;
  line-height: 15px;
  color: inherit;
  cursor: pointer;
}
.mobile-menu,
.navigation11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.navigation11 {
  margin: 0;
  width: 144px;
  align-items: flex-start;
  padding: var(--padding-base) 0 0;
  gap: 24px 0;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
.mobile-menu {
  width: 200px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.85);
  align-items: flex-end;
  padding: var(--padding-base) var(--padding-13xl);
  gap: 10px 0;
  opacity: 0;
  height: 100%;
  max-width: 90%;
  overflow: auto;
}
.mobile-menu.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 420px) {
  .close-icon-child:active {
    animation: 1s ease-in 0s 1 normal none pulsate;
    opacity: 1;
  }
  @keyframes pulsate {
    0% {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  .mobile-menu {
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
