@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.frame-child1 {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: cover;
}
.studio-hillenburg4 {
  position: relative;
  line-height: 15px;
}
.group-parent2 {
  text-decoration: none;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
  color: inherit;
}
.hamburger-menu-v5-child10,
.hamburger-menu-v5-child9 {
  width: 31.8px;
  position: relative;
  border-radius: var(--br-31xl);
  height: 4.2px;
}
.hamburger-menu-v5-child10 {
  height: 3.6px;
}
.hamburger-menu-v54 {
  height: 24px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.hamburger-menu-v54:active {
  cursor: auto;
  animation: 1s ease-out 0s 1 normal none pulsate;
  opacity: 1;
}
.about5 {
  text-decoration: none;
  position: relative;
  line-height: 15px;
  color: inherit;
  cursor: pointer;
}
.desktop-menu4,
.navigation8,
.top-menu4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.desktop-menu4 {
  justify-content: flex-end;
  gap: 0 20px;
}
.navigation8,
.top-menu4 {
  margin: 0;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.navigation8 {
  height: 40px;
  width: 317px;
  justify-content: flex-end;
  gap: 0 20px;
  font-family: var(--font-open-sans);
}
.top-menu4 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-13xl);
  font-family: var(--font-roboto-slab);
}
.frame-20-1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.body-image,
.body-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.body-image {
  width: 100%;
  height: 450px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 var(--padding-45xl);
  max-width: 1004px;
  max-height: 450px;
}
.body-image-wrapper {
  align-self: stretch;
  height: 438px;
  flex-direction: column;
  padding: 0 0 36px;
}
.heading2 {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  font-weight: 500;
}
.often-typefaces-are2 {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.often-typefaces-are4 {
  margin: 0;
}
.paragraph2 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-lg-regular-size);
  line-height: 28px;
  font-family: var(--display-xs-semibold);
  color: var(--gray-500);
  text-align: left;
}
.body-padding1,
.body-text,
.heading-and-paragraph2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-and-paragraph2 {
  align-self: stretch;
  align-items: flex-start;
  gap: 16px 0;
}
.body-padding1,
.body-text {
  align-items: center;
}
.body-padding1 {
  width: 100%;
  max-width: 1004px;
}
.body-text {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-13xl) var(--padding-45xl) var(--padding-45xl);
}
.img-3052-1-icon {
  width: 470px;
  position: relative;
  height: 497px;
  object-fit: cover;
}
.photo {
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  max-width: 497px;
  max-height: 497px;
}
.body-intro,
.photo,
.photo-wrapper {
  display: flex;
  justify-content: center;
}
.photo-wrapper {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  max-width: 1004px;
}
.body-intro {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-13xl) var(--padding-45xl) var(--padding-45xl);
}
.vector-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-discord4 {
  text-decoration: none;
  width: 21.7px;
  position: relative;
  height: 24px;
}
.icon-instagram4 {
  width: 24px;
  position: relative;
  height: 24px;
}
.icon-facebook4,
.icon-twitter4 {
  width: 24.1px;
  position: relative;
  height: 24px;
}
.icon-twitter4 {
  width: 29.5px;
}
.navigation9 {
  margin: 0;
  align-self: stretch;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 48px 0 var(--padding-13xl);
  box-sizing: border-box;
  gap: 0 24px;
}
.body-end-spacer {
  align-self: stretch;
  background-color: var(--color-white);
  height: 96px;
  overflow: hidden;
  flex-shrink: 0;
}
.satoshis-quest4 {
  position: relative;
  line-height: 15px;
  font-weight: 600;
}
.playsatoshisquest4 {
  height: 15px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 15px;
  font-family: var(--font-roboto);
  color: var(--color-lightgray);
  display: inline-block;
}
.satoshis-quest-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px 0;
}
.bottom-menu-inner2 {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon-discord5 {
  width: 21.7px;
  position: relative;
  height: 24px;
}
.navigation10 {
  margin: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0 32px;
}
.bottom-menu4,
.home {
  display: flex;
  align-items: center;
  font-family: var(--font-roboto-slab);
}
.bottom-menu4 {
  margin: 0;
  align-self: stretch;
  background-color: var(--color-gray-100);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-13xl);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--gray-900);
}
@media screen and (max-width: 1200px) {
  .navigation8 {
    display: flex;
  }
  .bottom-menu4,
  .top-menu4 {
    padding-left: var(--padding-45xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .hamburger-menu-v54,
  .studio-hillenburg4 {
    display: flex;
  }
  .desktop-menu4,
  .navigation8 {
    display: none;
  }
  .body-end-spacer,
  .body-image,
  .body-intro,
  .body-text,
  .top-menu4 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .body-end-spacer,
  .body-image,
  .body-intro,
  .body-text {
    padding-top: var(--padding-13xl);
  }
  .playsatoshisquest4,
  .satoshis-quest4 {
    display: flex;
  }
  .bottom-menu4 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .desktop-menu4,
  .studio-hillenburg4 {
    display: none;
  }
  .hamburger-menu-v54:active {
    animation: 1s ease-in 0s 1 normal none pulsate;
    opacity: 1;
  }
  @keyframes pulsate {
    0% {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  .body-image,
  .body-intro,
  .body-text,
  .top-menu4 {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .body-image,
  .body-intro,
  .body-text {
    padding-top: var(--padding-13xl);
  }
  .navigation9 {
    display: flex;
  }
  .body-end-spacer {
    padding-left: var(--padding-base);
    padding-top: var(--padding-13xl);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .playsatoshisquest4,
  .satoshis-quest4 {
    display: flex;
  }
  .bottom-menu-inner2 {
    display: none;
  }
  .navigation10 {
    display: flex;
  }
  .bottom-menu4 {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .body-end-spacer,
  .body-image,
  .body-intro,
  .body-text {
    padding-left: var(--padding-base);
    padding-top: var(--padding-13xl);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
