@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.frame-child1 {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: cover;
}
.studio-hillenburg4 {
  position: relative;
  line-height: 15px;
}
.group-parent2 {
  text-decoration: none;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 16px;
  color: inherit;
}
.hamburger-menu-v5-child10,
.hamburger-menu-v5-child9 {
  width: 31.8px;
  position: relative;
  border-radius: var(--br-31xl);
  height: 4.2px;
}
.hamburger-menu-v5-child10 {
  height: 3.6px;
}
.hamburger-menu-v54 {
  height: 24px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.hamburger-menu-v54:active {
  cursor: auto;
  animation: 1s ease-out 0s 1 normal none pulsate;
  opacity: 1;
}
.about5 {
  text-decoration: none;
  position: relative;
  line-height: 15px;
  color: inherit;
  cursor: pointer;
}
.desktop-menu4,
.navigation9,
.top-menu4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.desktop-menu4 {
  justify-content: flex-end;
  gap: 0 20px;
}
.navigation9,
.top-menu4 {
  margin: 0;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.navigation9 {
  height: 40px;
  width: 317px;
  justify-content: flex-end;
  gap: 0 20px;
  font-family: var(--font-open-sans);
}
.top-menu4 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-13xl);
  font-family: var(--font-roboto-slab);
}
.body-inner {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  height: 305px;
}
.body3 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-45xl);
}
.satoshis-quest4 {
  position: relative;
  line-height: 15px;
  font-weight: 600;
}
.playsatoshisquest4 {
  height: 15px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 15px;
  font-family: var(--font-roboto);
  color: var(--color-lightgray);
  display: inline-block;
}
.satoshis-quest-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px 0;
}
.bottom-menu-inner2 {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon-discord5,
.icon-instagram5 {
  width: 21.7px;
  position: relative;
  height: 24px;
}
.icon-instagram5 {
  width: 24px;
}
.icon-facebook5,
.icon-twitter5 {
  width: 24.1px;
  position: relative;
  height: 24px;
}
.icon-twitter5 {
  width: 29.5px;
}
.navigation10 {
  margin: 0;
  height: 40px;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0 32px;
}
.about4,
.bottom-menu4,
.navigation10 {
  display: flex;
  align-items: center;
}
.bottom-menu4 {
  margin: 0;
  align-self: stretch;
  background-color: var(--color-gray-100);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-13xl);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto-slab);
}
.about4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 1200px) {
  .navigation9 {
    display: flex;
  }
  .bottom-menu4,
  .top-menu4 {
    padding-left: var(--padding-45xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .hamburger-menu-v54,
  .studio-hillenburg4 {
    display: flex;
  }
  .desktop-menu4,
  .navigation9 {
    display: none;
  }
  .body3,
  .top-menu4 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .body3 {
    padding-top: var(--padding-13xl);
  }
  .playsatoshisquest4,
  .satoshis-quest4 {
    display: flex;
  }
  .bottom-menu4 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .desktop-menu4,
  .studio-hillenburg4 {
    display: none;
  }
  .hamburger-menu-v54:active {
    animation: 1s ease-in 0s 1 normal none pulsate;
    opacity: 1;
  }
  @keyframes pulsate {
    0% {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  .body3,
  .top-menu4 {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .body3 {
    padding-top: var(--padding-13xl);
  }
  .playsatoshisquest4,
  .satoshis-quest4 {
    display: flex;
  }
  .bottom-menu-inner2 {
    display: none;
  }
  .navigation10 {
    display: flex;
  }
  .bottom-menu4 {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .body3 {
    padding-left: var(--padding-base);
    padding-top: var(--padding-13xl);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
